img.img-slider {
    width: 800px;
    height: 600px;
}


button {
    background-color: #d6e9c6;
    border: none;
    display: inline;
    width: 49%;
}
button:hover {
    background-color: #e9b7a4;
}
